@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f9fafb;
  /*color: #1e293b;*/
  /*color: #334155;*/
  background-color: #030712;
  scroll-behavior: smooth;
}

input {
  color-scheme: dark;
}
